/* Use Open Sans as the default sans serif font. */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700|Source+Code+Pro:300,400,500,700");

.nav {
  --bs-nav-link-color: black;
  --bs-nav-link-font-weight: bold;
}
.container {
  padding: 10px;
}

footer {
  background-color: #292929;
  color: white;
}